:root {
    --primary-color: #00a7c1;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body {
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: var(--bs-font-sans-serif);
}

.body_signin {
    text-align: center;
    margin: 70px 0 30px 0;
}
.body_signin h1 {
    font-size: 2rem;
    font-weight: 550;
    margin-bottom: 0;
}

.body_signin p {
    font-size: 1rem;
    margin-top: 10px;
}


/* CSS cho form đăng nhập */
.body_signin {
    text-align: center; 
}

.body_form {
    display: flex;
    align-items: center;
    margin-bottom: 70px ;
}
.body_form-img {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 0; 
    width: 50%;
}
.body_form-img img {
    max-width: 100%; 
    max-height: 100%; 
}

.body_form-input {
    padding: 20px;
    background-color: #fff;
    width: 50%;
}
.body_form-input form {
    width: 100%;
}
.body_form-input-username label , .body_form-input-password label {
    color: #444a4f;
    font-weight: 550;
    margin-left: 3px;
}
.body_form-input-username {
    margin-bottom: 10px;
}
.input-form > div:not(.input-group):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input_form {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input_form input {
    padding-left: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-left: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box; 
    background-color: light-dark(rgb(232, 240, 254), rgba(70, 90, 126, 0.4)) !important;
}
.input-form>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-form:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.iconstyle {
    padding: 12px 10px 12px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    color: #f9f4f4;
    font-size: 15px;
    font-weight: 500;
    background-color: #fff !important;
    border: 1px solid #ced4da;
    border-right: none;
    text-align: center;
    white-space: nowrap;
    display: flex;
    align-items: center;
    
    
}
.input_icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    width: 15px;
    height: 15px;    
    
}

.input_icon img {
    max-width: 100%; /* Đặt kích thước tối đa của hình ảnh trong icon */
    height: auto; /* Đảm bảo tỷ lệ hình ảnh */
}
.body_form-input:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.body_form-input-forget {
    text-align: right;
}
.body_form-input-forget a {
    text-decoration: none;
    cursor: pointer;
    color: #6c757d;
    font-size: 13px;
}

.body_form-input-submit input {
    width: 100%; 
    height: 40px;
    background-color: var(--primary-color); 
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
}
.body_form-input-submit input:hover {
    background-color: #007e92;
}

.body_form-input-signin {
    text-align: center;
    margin-top: 10px; 
} 
.body_form-input-signin a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.body_form-input-google a {
    color: var(--primary-color);
    margin: 5px;
    font-weight: 700;
}
.body_form-input-google a:hover {
    color: var(--primary-color) !important;
}
.body_form-input-google {
    border: 1px solid var(--primary-color);
    justify-content: center;
    border-radius: 5px;
    border-color: var(--primary-color);
    display: flex;
}
.checkbox-label {
    font-size: 14px;
    margin-left: 10px;
    color: #81807f;
}

.checkbox-input {
    margin-right: 3px;
    position: relative;
    top: 2px;
}

.checkbox-input:hover{
    background-color: #c6c6c6;
}
.body_form-input-google:hover {
    background-color: #efefef;
}
